<div class="card" style="width: 37rem;">
  <div class="card-body">
    <h4 class="card-title">Você está em  <%= weather.city %></h5>
    <h2 class="card-subtitle mb-2 text-muted text-center"><%= weather.temperature %> &ordm;F | <%= weather.celsius_temperature %> &ordm;C</h6>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Pressure:
        </div>
        <div class="col-sm">
          <%= weather.pressure %>hpa
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Humidity:
        </div>
        <div class="col-sm">
          <%= weather.humidity %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Min Temperature Fahrenheit:
        </div>
        <div class="col-sm">
          <%= weather.min_temperature %> &ordm;F
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Min Temperature Celsius:
        </div>
        <div class="col-sm">
          <%= weather.celsius_min_temperature %> &ordm;C
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Max Temperature Fahrenheit:
        </div>
        <div class="col-sm">
          <%= weather.max_temperature %> &ordm;F
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Max Temperature Celsius:
        </div>
        <div class="col-sm">
         <%= weather.celsius_max_temperature %>&ordm;C
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          Wind Speed:
        </div>
        <div class="col-sm">
         <%= weather.wind_speed %>mi/h
        </div>
      </div>
    </div>

    </div>

  </div>
</div>
