<div id="sign">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


    <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true  %>
    </div>


    <div class="form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>


    <div class="form-group button_submit">
      <%= f.submit "Sign up", class: 'btn btn-primary secundary_color' %>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>

</div>
