<!DOCTYPE html>
<html>
  <head>
    <title>WeatherChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=places&language=pt-BR"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/message' %>
    <%= render '/shared/header' if current_user %>
    <div class="container content">
      <%= yield %>
    </div>
  </body>
</html>
